html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', 'Segoe UI', 'Roboto', 'Oxygen';
  overflow: auto;
  width: 100vw;
  //font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 2rem;
}
