.loadingContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.headerText {
  text-align: left;
  margin: 20px 0 !important;
}

.noPagesText {
  text-align: center;
  margin: 50px 0 !important;
}

.pagination {
  float: right;
}
